# Credit Card Fraud Detection

In [1]:
import numpy as np 
import pandas as pd 

import os
for dirname, _, filenames in os.walk('input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv("creditcard.csv")

In [4]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
df.shape

(284807, 31)

In [7]:
df["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [8]:
legit = df[df.Class == 0]
fraud = df[df.Class == 1]

In [9]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [10]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [11]:
df.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [12]:
legit_sample = legit.sample(n=492)

In [13]:
new_df = pd.concat([legit_sample , fraud], axis = 0)

In [14]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
283036,171324.0,2.070313,-0.246178,-1.520494,0.017186,0.449463,-0.104339,0.047339,-0.206723,0.974604,...,0.058029,0.503729,-0.039624,0.124024,0.338620,0.200946,-0.022872,-0.057481,20.00,0
57558,47960.0,1.026009,-1.027764,0.060881,0.470856,-0.517047,0.867099,-0.567844,0.174774,-0.392753,...,-0.351558,-0.783317,-0.258131,-1.373288,0.468167,-0.234669,0.047746,0.044452,177.43,0
187610,127606.0,-0.767696,0.784347,-0.474868,-1.245602,1.266351,0.378180,0.851700,-0.398096,0.903699,...,0.174333,0.832531,-0.169586,-0.129862,-0.268177,-0.028320,-0.765738,-0.011032,5.00,0
184313,126193.0,2.102486,0.017150,-1.356042,0.230851,0.351430,-0.744731,0.281543,-0.375255,0.361583,...,-0.316839,-0.716630,0.222629,-0.673724,-0.149124,0.236698,-0.063120,-0.063039,8.99,0
205130,135604.0,2.215365,-0.623169,-1.295498,-0.882235,-0.516150,-1.336338,-0.253588,-0.462032,-0.672356,...,0.449894,1.372163,-0.018464,0.073526,0.219561,0.068537,-0.030042,-0.063982,15.00,0

In [15]:
new_df["Class"].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [16]:
new_df.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94956.798780,0.076604,0.139775,-0.115143,0.063583,-0.087286,0.023836,0.118217,0.044672,0.017904,...,0.057299,-0.030277,-0.023014,0.037628,-0.027716,0.002663,-0.016661,-0.001073,-0.001291,101.443171
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [17]:
X = new_df.drop(columns = "Class", axis=1)
Y = new_df["Class"]

In [18]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
283036  171324.0  2.070313 -0.246178 -1.520494  0.017186  0.449463 -0.104339
57558    47960.0  1.026009 -1.027764  0.060881  0.470856 -0.517047  0.867099
187610  127606.0 -0.767696  0.784347 -0.474868 -1.245602  1.266351  0.378180
184313  126193.0  2.102486  0.017150 -1.356042  0.230851  0.351430 -0.744731
205130  135604.0  2.215365 -0.623169 -1.295498 -0.882235 -0.516150 -1.336338
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
283036  0.047339 -0.206723  0.974604  ... -0.082133  0.058029  0.503729
57558  -0.567844  0.174774 -0.392753  ... -0.245954 -0.351558 -0.783317
187610  0.851700 -0.398096  0.903699  ... -0.104086  0.174333  0.832531
184313  0.281543 -0.375255  0.361583  ... -0.087794 -0.316839 -0.716630
205130 -0.253588 -0.462032 -0.672356  ...  0.019980  0.449894  1.372163
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
283036 -0.039624  0.124024  0.338620  0.200946 -0.022872 -0.057481   20.00
57558  -0.258131 -1.373288  0.468167 -0.234669  0.047746  0.044452  177.43
187610 -0.169586 -0.129862 -0.268177 -0.028320 -0.765738 -0.011032    5.00
184313  0.222629 -0.673724 -0.149124  0.236698 -0.063120 -0.063039    8.99
205130 -0.018464  0.073526  0.219561  0.068537 -0.030042 -0.063982   15.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [19]:
print(Y)

283036    0
57558     0
187610    0
184313    0
205130    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [20]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state = 2)

In [21]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [22]:
model = LogisticRegression()

In [23]:
model.fit(X_train, Y_train)

LogisticRegression()

In [24]:
X_train_predict = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_predict, Y_train)

In [25]:
print("ACCURACY ON TRAINING DATA:", training_data_accuracy)

ACCURACY ON TRAINING DATA: 0.951715374841169

In [26]:
X_test_predict = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_predict, Y_test)

In [27]:
print("ACCURACY ON TESTING DATA:", testing_data_accuracy)

ACCURACY ON TESTING DATA: 0.9441624365482234